h1 {
    color: hsl(214, 89%, 52%);
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #1A202C;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: #F7FAFC;
    display: grid;
    grid-template-columns: 20% 80%;
    height: calc(100vh - 5rem);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #2D3748;
    color: #FFFFFF;     
    padding: 1rem;
}

nav > ul
{
    display: flex;
    gap: 2rem;
}

main {
    background-color: #FFFFFF;
    padding: 20px; 
    text-align: center;
}

aside {
    background-color: #A0AEC0;
    padding: 1rem;
}


.container {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
    height: calc(100vh - 100px);
}

@media screen and (max-width: 480px) 
{
    .container 
    {
        grid-template-columns: 1fr;
    }

    aside 
    {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A0AEC0;
    padding: 1rem;
    }
}